@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
  max-width: 1410px;
  min-height: 94vh;
  margin: 0 auto; 
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.responsive-cell{
  @apply lg:w-[calc(98%/6)] md:w-[calc(98%/5)]
 }
 .responsive-cell-rating{
  @apply lg:w-[calc(98%/6)] md:w-[calc(98%/5)]
}

.liactionrank{
  @apply bg-[#A9A9A9]  rounded-full   px-4 
}
 .area{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 130px;
  opacity: 0.5;
}


 .active{
  border-radius: 15px;
  background-color: #A9A9A9;
  padding-left: 0.6rem/* 8px */;
  padding-right: 0.6rem/* 8px */;
  padding-top: 4px;
  padding-bottom: 4px;
  
}


.boxcash{
  grid-column: span 2;
  grid-row: span 3;
}
.boxpayment{
  grid-column: span 2;
  grid-row: span 4;
}
.ratetheme{
  @apply flex w-full justify-between p-5 border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-200 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700
}
.box{
  @apply p-[20px] rounded-[10px] shadow-sm border
}

.scroll-indicator {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.show {
  opacity: 1;
}

   .hiddens {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }