.container{
    position: relative;
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index:98;
    width: 100%;

}

.section{
    display: flex;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

.weeknav{
    position: relative;
    margin-top: 70px;
}

.section .daysection {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    
}

.section .daysection .links{
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    list-style: none;
}
.daysection{
    cursor: pointer;
    
}

.ulrank{
    @apply flex  overflow-hidden justify-center flex-nowrap  scroll-smooth 
}
.ulrank .lirank{
    @apply list-none py-1  md:list-none mx-3
}
.ulrank .lirank .linkxrank{
    @apply relative block no-underline uppercase  font-bold md:relative md:block md:no-underline md:uppercase 
}


